  button {
    padding: 10px 20px;
    background-color: #28a745; /* Green button */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer; /* Changes the mouse cursor to a pointer */
    margin:10px;
}

ul {    
    justify-items: left;
}

